@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  margin: 0;
  background-color: #f9fafb;
  background-image: url("./assets/img/bg.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
}
