@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


body {
   background-image: url("./assets/img/bg.PNG");
   background-size:cover;
   background-repeat:no-repeat;
}